    {
        "name": {{cluster.name}},
        "description": {{cluster.description}},
        "vxnet": {{cluster.vxnet}},
        "nodes": [{
            "role": "hue-server",
            "container": {
               "type": "kvm",
               "zone": "pek3a",
               "image": "img-t69cdyzw"
            },
            "count": {{cluster.hue-server.count}},
            "cpu": {{cluster.hue-server.cpu}},
            "memory": {{cluster.hue-server.memory}},
            "volume": {
                "size": {{cluster.hue-server.volume_size}},
                "mount_point": "/data",
                "filesystem": "ext4"
            },
            "instance_class": {{cluster.hue-server.instance_class}},
            "advanced_actions": ["change_vxnet", "scale_horizontal"],
            "services": {
                "init": {
                    "cmd": "/usr/local/hue/hue_shell.sh init"
                },
                "start": {
                    "cmd": "/usr/local/hue/hue_shell.sh start"
                },
                "stop": {
                    "cmd": "/usr/local/hue/hue_shell.sh stop"
                }
            },
            "health_check": {
                "enable": true,
                "interval_sec": 60,
                "timeout_sec": 10,
                "action_timeout_sec": 30,
                "healthy_threshold": 3,
                "unhealthy_threshold": 3,
                "check_cmd": "/usr/local/hue/hue_shell.sh status",
                "action_cmd": "/usr/local/hue/hue_shell.sh start"
            }
        }],
        "metadata_root_access": true,
        "env": {
            "secret_key": {{env.secret_key}},
            "hadoop_app_id": {{env.hadoop_app_id}},
            "hadoop_cluster_id": {{env.hadoop_cluster_id}},
            "zookeeper_app_id": {{env.zookeeper_app_id}},
            "spark_app_id": {{env.spark_app_id}},
            "spark_cluster_id": {{env.spark_cluster_id}},
            "hive_app_id": {{env.hive_app_id}},
            "hive_cluster_id": {{env.hive_cluster_id}},
            "hbase_app_id": {{env.hbase_app_id}},
            "database": {{env.database}}, 
            "database_engine": {{env.database_engine}},
            "database_host": {{env.database_host}},
            "database_port": {{env.database_port}},
            "database_user": {{env.database_user}},
            "database_password": {{env.database_password}},
            "database_name": {{env.database_name}}
        }
    }
